/* 전체 페이지 스타일 */
body {
    font-family: 'Arial', sans-serif;
    background-image: url('picture/gyeongju.jpg'); /* 배경 이미지 설정 */
    background-size: cover; /* 이미지가 화면에 맞게 크기 조정 */
    background-position: center; /* 이미지가 중앙에 위치하도록 설정 */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* 설문조사 컨테이너 스타일 */
#survey-container {
    background-color: rgb(245, 242, 242); /* 배경을 반투명하게 만들어 이미지가 비치도록 설정 */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center;
}

/* 제목 스타일 */
h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

/* 질문 컨테이너 스타일 */
#question-container {
    font-size: 18px;
    color: #555;
    margin-bottom: 20px;
}

/* 입력창 스타일 */
#answer-input {
    width: 95%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    outline: none;
}

/* 입력창 포커스 시 스타일 */
#answer-input:focus {
    border-color: #0062A0;
}

/* 버튼 스타일 */
button {
    background-color: #0062A0;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

/* 버튼 호버 시 스타일 */
button:hover {
    background-color: #004a80;
}

/* 버튼 비활성화 시 스타일 */
button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}